// Variables

$orange: #f16529;
$dark-orange: darken($orange, 8%);
$light-blue: #b3d4fc;
$selection: $light-blue;
$dark-gray: #222222;
$light-gray: #cccccc;
$black: #000000;
$white: #ffffff;
$default-text: $dark-gray;

$max-width: 1140px;